<div id="page">
    <header class="main-header">
        <div class="main-header__wrapper">
            <a class="main-header__logo" href="/"><img src="/images/logo-black.svg" alt="Saleae"></a>
            <nav class="main-header__nav">
                <ul id="menu-header-menu" class="menu">
                    <li class="js-header-product menu-item menu-item-type-custom menu-item-object-custom"><a>Products</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/downloads">Download</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://support.saleae.com">Support</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about">About</a></li>
                </ul>
            </nav>
            <div class="main-header__right">
                <div id="sal-cart" class="main-header__cart-icon"><span>Cart</span> </div>
                <div class="main-header__hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
    
    
    <nav class="main-header__mobile-menu">
        <ul id="menu-header-menu-1" class="menu"><li class="js-header-product menu-item menu-item-type-custom menu-item-object-custom menu-item-356"><a>Products</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-350"><a href="/downloads">Download</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-351"><a href="https://support.saleae.com">Support</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-352"><a href="/about">About</a></li>
        </ul>
    </nav>
    
    
    <div class="main-header__products-overlay"></div>
    <div class="main-header__products">
        <div class="main-header__products-wrapper">
            <div class="main-header__products-column main-header__products-column--header">
                <div></div>
                <div></div>
                <div><span>Price</span>
                    <div class="tooltip">
                        <div class="tooltip__title"><img src="/images/icon-tooltip.svg" alt="?"></div>
                        <div class="tooltip__content">Each Logic comes with everything you need: test lead set(s), test clips, USB cable, and carry case.</div>
                    </div>
                </div>
                <div><span>Digital/Analog Inputs</span>
                    <div class="tooltip">
                        <div class="tooltip__title"><img src="/images/icon-tooltip.svg" alt="?"></div>
                        <div class="tooltip__content">Mixed-signal inputs can be recorded as digital, analog, or both.</div>
                    </div>
                </div>
                <div><span>Digital Sample Rate (max)</span>
                    <div class="tooltip">
                        <div class="tooltip__title"><img src="/images/icon-tooltip.svg" alt="?"></div>
                        <div class="tooltip__content">All data is streamed in real time over USB. The maximum sample rates depends on the number of digital and analog channels used. See <a href="https://www.saleae.com/performancecalculator">Performance Calculator</a></div>
                    </div>
                </div>
                <div><span>Analog Sample Rate (max)</span>
                    <div class="tooltip">
                        <div class="tooltip__title"><img src="/images/icon-tooltip.svg" alt="?"></div>
                        <div class="tooltip__content">All data is streamed in real time over USB. The maximum sample rates depends on the number of digital and analog channels used. See <a href="https://www.saleae.com/performancecalculator">Performance Calculator</a></div>
                    </div>
                </div>
                <div><span>PC Connection</span></div>
                <div><span>Select Color</span></div>
                <div>
                    <div class="main-header__products-column-info sal-discounts-area">
    
                        <p>
                            <a href="https://blog.saleae.com/saleae-discounts">Student, Enthusiast, Startup, or Contractor?</a>
                        </p>
                        <!--
                        <div class="tooltip">
                            <div class="tooltip__title"><a href="https://blog.saleae.com/pricing-update" data-i18n='products-pricing'></a></div>
                        </div>
                        <div class="tooltip">
                            <div class="tooltip__title"><a href="https://blog.saleae.com/saleae-discounts" data-i18n='products-discounts'></a></div>
                            <div class="tooltip__content" data-i18n='products-discounts-message'></div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
    
    
            <div class="main-header__products-column">
                <div>Logic 8</div>
                <div class="main-header__products-image"><img src="/images/SAL-00111@2x.jpg" alt="Logic 8" style="width: 110px; height: auto;"></div>
                <div class="sal-header-price">
                    <span id="logic-8-price"></span>
                    <span class="sal-ex-vat"></span>
                </div>
                <div>8</div>
                <div>100 MS/s
                    <div class="tooltip">
                        <div class="tooltip__title"><img src="/images/icon-tooltip.svg" alt="?"></div>
                        <div class="tooltip__content">Maximum sample rate for three (3) digital and zero (0) analog channels in use. For other combinations, see <a href="https://www.saleae.com/performancecalculator">Performance Calculator</a>.</div>
                    </div>
                </div>
                <div>10 MS/s
                    <div class="tooltip">
                        <div class="tooltip__title"><img src="/images/icon-tooltip.svg" alt="?"></div>
                        <div class="tooltip__content">Maximum sample rate for two (2) analog and zero (0) digital channels in use. For other combinations, see <a href="https://www.saleae.com/performancecalculator">Performance Calculator</a>.</div>
                    </div>
                </div>
                <div>USB 2.0</div>
                <div>
                    <div class="select">
                        <div class="select__selected" data-value="Black">Black</div>
                        <div class="select__options">
                            <div id="logic-8-black" class="active" data-value="Black" data-image="/images/SAL-00111@2x.jpg">Black</div>
                            <div data-value="Red" data-image="/images/SAL-00112@2x.jpg">Red</div>
                        </div>
                    </div>
                </div>
                <div class="drop-cart">
                    <input id="buy-logic-8" type="submit" class="btn-buy" value="Buy now">
                </div>
                <span class="drop-ship"><span>Shipping to </span> <select class="sal-country-selector"></select></span>
            </div>
    
    
            <div class="main-header__products-column">
                <div>Logic Pro 8</div>
                <div class="main-header__products-image"><img src="/images/SAL-00113@2x.jpg" alt="Logic Pro 8" style="width: 110px; height: auto;"></div>
                <div class="sal-header-price">
                    <span id="logic-pro-8-price"></span>
                    <span class="sal-ex-vat"></span>
                </div>
                <div>8</div>
                <div>500 MS/s
                    <div class="tooltip">
                        <div class="tooltip__title"><img src="/images/icon-tooltip.svg" alt="?"></div>
                        <div class="tooltip__content">Maximum sample rate for six (6) digital and zero (0) analog channels in use. For other combinations, see <a href="https://www.saleae.com/performancecalculator">Performance Calculator</a>.</div>
                    </div>
                </div>
                <div>50 MS/s
                    <div class="tooltip">
                        <div class="tooltip__title"><img src="/images/icon-tooltip.svg" alt="?"></div>
                        <div class="tooltip__content">Maximum sample rate for five (5) analog and zero (0) digital channels in use. For other combinations, see <a href="https://www.saleae.com/performancecalculator">Performance Calculator</a>.</div>
                    </div>
                </div>
                <div>USB 3.0
                    <div class="tooltip">
                        <div class="tooltip__title"><img src="/images/icon-tooltip.svg" alt="?"></div>
                        <div class="tooltip__content">Also works with USB 2.0, with an approximate 7x reduction in performance.</div>
                    </div>
                </div>
                <div>
                    <div class="select">
                        <div class="select__selected" data-value="Black">Black</div>
                        <div class="select__options">
                            <div id="logic-pro-8-black" class="active" data-value="Black" data-image="/images/SAL-00113@2x.jpg">Black</div>
                            <div data-value="Red" data-image="/images/SAL-00114@2x.jpg">Red</div>
                        </div>
                    </div>
                </div>
                <div class="drop-cart">
                    <input id="buy-logic-pro-8" type="submit" class="btn-buy" value="Buy now">
                </div>
                <span class="drop-ship"><span>Shipping to </span> <select class="sal-country-selector"></select></span>
            </div>
    
    
            <div class="main-header__products-column">
                <div>Logic Pro 16</div>
                <div class="main-header__products-image"><img src="/images/SAL-00115@2x.jpg" alt="Logic Pro 16" style="width: 121px; height: auto;"></div>
                <div class="sal-header-price">
                    <span id="logic-pro-16-price"></span>
                    <span class="sal-ex-vat"></span>
                </div>
                <div>16</div>
                <div>500 MS/s
                    <div class="tooltip tooltip--right">
                        <div class="tooltip__title"><img src="/images/icon-tooltip.svg" alt="?"></div>
                        <div class="tooltip__content">Maximum sample rate for six (6) digital and zero (0) analog channels in use. For other combinations, see <a href="https://www.saleae.com/performancecalculator">Performance Calculator</a>.</div>
                    </div>
                </div>
                <div>50 MS/s
                    <div class="tooltip tooltip--right">
                        <div class="tooltip__title"><img src="/images/icon-tooltip.svg" alt="?"></div>
                        <div class="tooltip__content">Maximum sample rate for five (5) analog and zero (0) digital channels in use. For other combinations, see <a href="https://www.saleae.com/performancecalculator">Performance Calculator</a>.</div>
                    </div>
                </div>
                <div>USB 3.0
                    <div class="tooltip tooltip--right">
                        <div class="tooltip__title"><img src="/images/icon-tooltip.svg" alt="?"></div>
                        <div class="tooltip__content">Also works with USB 2.0, with an approximate 7x reduction in performance.</div>
                    </div>
                </div>
                <div>
                    <div class="select">
                        <div class="select__selected" data-value="Black">Black</div>
                        <div class="select__options">
                            <div id="logic-pro-16-black" class="active" data-value="Black" data-image="/images/SAL-00115@2x.jpg">Black</div>
                            <div data-value="Red" data-image="/images/SAL-00116@2x.jpg">Red</div>
                        </div>
                    </div>
                </div>
                <div class="drop-cart">
                    <input id="buy-logic-pro-16" type="submit" class="btn-buy" value="Buy now">
                </div>
                <span class="drop-ship"><span>Shipping to </span> <select class="sal-country-selector"></select></span>
            </div>
        </div>
    </div>        <meta http-equiv="refresh" content="0;url=https://saleae-support.typeform.com/to/G5P39W">
